---
- name: Configure authentication, SSH, and access control
  hosts: all
  become: true
  handlers:
    - name: Import shared handlers
      ansible.builtin.import_tasks: handlers/main.yml

  tasks:
    # SSH Hardening
    - name: Backup original SSH config
      ansible.builtin.include_tasks: tasks/backup_file.yml
      vars:
        backup_source: /etc/ssh/sshd_config
        backup_mode: "{{ default_restricted_mode }}"
      when: features.ssh_hardening.enabled | default(false)

    - name: Configure SSH hardening settings
      ansible.builtin.lineinfile:
        path: /etc/ssh/sshd_config
        regexp: "{{ item.regexp }}"
        line: "{{ item.line }}"
        state: present
        validate: '/usr/sbin/sshd -t -f %s'
      loop:
        - regexp: '^#?PermitRootLogin'
          line: "PermitRootLogin {{ features.ssh_hardening.permit_root_login | default('prohibit-password') }}"
        - regexp: '^#?MaxAuthTries'
          line: "MaxAuthTries {{ features.ssh_hardening.max_auth_tries | default(3) }}"
        - regexp: '^#?MaxSessions'
          line: "MaxSessions {{ features.ssh_hardening.max_sessions | default(2) }}"
        - regexp: '^#?LogLevel'
          line: "LogLevel {{ features.ssh_hardening.log_level | default('VERBOSE') }}"
        - regexp: '^#?X11Forwarding'
          line: "X11Forwarding {{ features.ssh_hardening.x11_forwarding | default('no') }}"
        - regexp: '^#?AllowTcpForwarding'
          line: "AllowTcpForwarding {{ features.ssh_hardening.allow_tcp_forwarding | default('no') }}"
        - regexp: '^#?AllowAgentForwarding'
          line: "AllowAgentForwarding {{ features.ssh_hardening.allow_agent_forwarding | default('no') }}"
        - regexp: '^#?TCPKeepAlive'
          line: "TCPKeepAlive {{ features.ssh_hardening.tcp_keep_alive | default('no') }}"
        - regexp: '^#?ClientAliveCountMax'
          line: "ClientAliveCountMax {{ features.ssh_hardening.client_alive_count_max | default(2) }}"
        - regexp: '^#?ClientAliveInterval'
          line: "ClientAliveInterval {{ features.ssh_hardening.client_alive_interval | default(300) }}"
        - regexp: '^#?Banner'
          line: "Banner {{ features.ssh_hardening.banner | default('none') }}"
      when: features.ssh_hardening.enabled | default(false)
      notify: Restart SSH service

    - name: Configure SSH custom port
      ansible.builtin.lineinfile:
        path: /etc/ssh/sshd_config
        regexp: '^#?Port'
        line: "Port {{ features.ssh_hardening.port }}"
        state: present
        validate: '/usr/sbin/sshd -t -f %s'
      when:
        - features.ssh_hardening.enabled | default(false)
        - features.ssh_hardening.port is defined
        - features.ssh_hardening.port != 22
      notify: Restart SSH service

    - name: Gather list of SSH-allowed users
      ansible.builtin.set_fact:
        ssh_allowed_users: >-
          {{ features.user_management.users
             | selectattr('allow_ssh', 'defined')
             | selectattr('allow_ssh', 'equalto', true)
             | map(attribute='name')
             | list }}
      when:
        - features.ssh_hardening.enabled | default(false)
        - features.ssh_hardening.limit_users | default(false)
        - features.user_management.enabled | default(false)
        - features.user_management.users is defined

    - name: Configure SSH AllowUsers restriction
      ansible.builtin.lineinfile:
        path: /etc/ssh/sshd_config
        regexp: '^#?AllowUsers'
        line: "AllowUsers {{ ssh_allowed_users | join(' ') }}{{ ' root' if features.ssh_hardening.allow_root_in_list | default(true) else '' }}"
        state: present
        validate: '/usr/sbin/sshd -t -f %s'
      when:
        - features.ssh_hardening.enabled | default(false)
        - features.ssh_hardening.limit_users | default(false)
        - ssh_allowed_users is defined
        - ssh_allowed_users | length > 0
      notify: Restart SSH service

    - name: Remove SSH AllowUsers restriction when disabled
      ansible.builtin.lineinfile:
        path: /etc/ssh/sshd_config
        regexp: '^#?AllowUsers'
        state: absent
        validate: '/usr/sbin/sshd -t -f %s'
      when:
        - features.ssh_hardening.enabled | default(false)
        - not (features.ssh_hardening.limit_users | default(false))
      notify: Restart SSH service

    # Authentication Hardening
    - name: Backup original login.defs
      ansible.builtin.include_tasks: tasks/backup_file.yml
      vars:
        backup_source: /etc/login.defs
        backup_mode: "{{ default_file_mode }}"
      when: features.auth_hardening.enabled | default(false)

    - name: Configure password aging and policies in login.defs
      ansible.builtin.lineinfile:
        path: /etc/login.defs
        regexp: "{{ item.regexp }}"
        line: "{{ item.line }}"
        state: present
      loop:
        - regexp: '^PASS_MAX_DAYS'
          line: "PASS_MAX_DAYS   {{ features.auth_hardening.pass_max_days | default(90) }}"
        - regexp: '^PASS_MIN_DAYS'
          line: "PASS_MIN_DAYS   {{ features.auth_hardening.pass_min_days | default(1) }}"
        - regexp: '^PASS_WARN_AGE'
          line: "PASS_WARN_AGE   {{ features.auth_hardening.pass_warn_age | default(7) }}"
        - regexp: '^PASS_MIN_LEN'
          line: "PASS_MIN_LEN    {{ features.auth_hardening.pass_min_len | default(14) }}"
        - regexp: '^#?SHA_CRYPT_MIN_ROUNDS'
          line: "SHA_CRYPT_MIN_ROUNDS {{ features.auth_hardening.sha_crypt_min_rounds | default(5000) }}"
        - regexp: '^UMASK'
          line: "UMASK           {{ features.auth_hardening.umask | default('027') }}"
      when: features.auth_hardening.enabled | default(false)

    - name: Install PAM password quality module
      ansible.builtin.include_tasks: tasks/install_packages.yml
      vars:
        package_list: [libpam-pwquality]
      when: features.auth_hardening.enabled | default(false)

    - name: Configure PAM password quality requirements
      ansible.builtin.lineinfile:
        path: /etc/security/pwquality.conf
        regexp: "{{ item.regexp }}"
        line: "{{ item.line }}"
        state: present
      loop:
        - regexp: '^#?minlen'
          line: "minlen = {{ features.auth_hardening.pam_minlen | default(14) }}"
        - regexp: '^#?dcredit'
          line: "dcredit = {{ features.auth_hardening.pam_dcredit | default(-1) }}"
        - regexp: '^#?ucredit'
          line: "ucredit = {{ features.auth_hardening.pam_ucredit | default(-1) }}"
        - regexp: '^#?lcredit'
          line: "lcredit = {{ features.auth_hardening.pam_lcredit | default(-1) }}"
        - regexp: '^#?ocredit'
          line: "ocredit = {{ features.auth_hardening.pam_ocredit | default(-1) }}"
      when: features.auth_hardening.enabled | default(false)

    - name: Disable core dumps in limits.conf
      ansible.builtin.lineinfile:
        path: /etc/security/limits.conf
        regexp: '^\*\s+hard\s+core'
        line: '*               hard    core            0'
        state: present
      when:
        - features.auth_hardening.enabled | default(false)
        - features.auth_hardening.disable_core_dumps | default(true)

    # Login Banners
    - name: Create /etc/issue banner
      ansible.builtin.copy:
        dest: /etc/issue
        mode: "{{ default_file_mode }}"
        owner: "{{ default_root_owner }}"
        group: "{{ default_root_group }}"
        content: |
          {{ features.login_banners.issue_content | default('Authorized access only. All activity may be monitored and reported.') }}
      when: features.login_banners.enabled | default(false)

    - name: Create /etc/issue.net banner
      ansible.builtin.copy:
        dest: /etc/issue.net
        mode: "{{ default_file_mode }}"
        owner: "{{ default_root_owner }}"
        group: "{{ default_root_group }}"
        content: |
          {{ features.login_banners.issue_net_content | default('Authorized access only. All activity may be monitored and reported.') }}
      when: features.login_banners.enabled | default(false)

    - name: Remove OS information from banners
      ansible.builtin.file:
        path: "{{ item }}"
        state: absent
      loop:
        - /etc/update-motd.d/10-help-text
        - /etc/update-motd.d/50-landscape-sysinfo
        - /etc/update-motd.d/50-motd-news
        - /etc/update-motd.d/80-livepatch
        - /etc/update-motd.d/91-release-upgrade
      when:
        - features.login_banners.enabled | default(false)
        - features.login_banners.remove_motd_files | default(true)
      failed_when: false

    # Password Expiration for Existing Accounts
    - name: Get all user accounts with passwords
      ansible.builtin.shell: |
        awk -F: '($2 != "!" && $2 != "*" && $2 != "" && $1 != "root") {print $1}' /etc/shadow
      register: password_users
      changed_when: false
      when:
        - features.auth_hardening.enabled | default(false)
        - features.auth_hardening.set_existing_user_expiry | default(false)

    - name: Set password expiration for existing accounts
      ansible.builtin.command: >
        chage --maxdays {{ features.auth_hardening.pass_max_days | default(90) }}
              --mindays {{ features.auth_hardening.pass_min_days | default(1) }}
              --warndays {{ features.auth_hardening.pass_warn_age | default(7) }}
              {{ item }}
      loop: "{{ password_users.stdout_lines | default([]) }}"
      when:
        - features.auth_hardening.enabled | default(false)
        - features.auth_hardening.set_existing_user_expiry | default(false)
        - password_users.stdout_lines | length > 0
      register: chage_result
      changed_when: chage_result.rc == 0
      failed_when: false

    - name: Set inactive period for password-protected accounts
      ansible.builtin.command: chage --inactive {{ features.auth_hardening.pass_inactive_days | default(30) }} {{ item }}
      loop: "{{ password_users.stdout_lines | default([]) }}"
      when:
        - features.auth_hardening.enabled | default(false)
        - features.auth_hardening.set_existing_user_expiry | default(false)
        - features.auth_hardening.pass_inactive_days is defined
        - password_users.stdout_lines | length > 0
      register: chage_inactive_result
      changed_when: chage_inactive_result.rc == 0
      failed_when: false
